:root {
    --bg-color-1: #064973;
    --bg-color-2: #04738C;
    --bg-color-3: #7EBF8E;
    --bg-color-4: #E6F285;
}

a, a:hover {
    color: black;
    text-decoration: none;
    border-top: 2px solid transparent;
    width: 70px;
}
a:hover {
    border-top: 2px solid green; 
}
.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stopwatch {
    border-color: var(--bg-color-1);
}

#timer {
    border-color: var(--bg-color-2);
}

#emom {
    border-color: solid var(--bg-color-3);
}

#ab {
    border-color: var(--bg-color-4);
}

.element>i {
    font-size: auto;
}

.caption {
    font-size: auto;
}

nav {
    height: 10vh;
    margin: auto;
    max-width: 40rem
}
.content {
    height: 70vh;
}

.heading {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center
}
